@font-face {
   font-family: "Impact", sans-serif;
   src: url("../fonts/impact.woff2");
}

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

a {
   color: inherit;
   text-decoration: none;
}

li {
   list-style: none;
}

img {
   max-width: 100%;
}

.big-container {
   margin: 0 auto;
   padding: 0 10px;
   max-width: 1220px;
}

.container {
   margin: 0 auto;
   padding: 0 10px;
   max-width: 920px;
}

body {
   color: #040404;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   font-family: "Roboto Condensed", sans-serif;
}

.header {
   padding-top: 25px;
   position: absolute;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
   transition: all 0.3s;
}

.sticky {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   /* padding: 10px 10px; */
   backdrop-filter: blur(8px);
   z-index: 5;
   padding-top: 10px;
   padding-bottom: 10px;
}

.nav {
   display: flex;
   justify-content: space-between;
}

.menu-list {
   display: flex;
   gap: 0 40px;
   padding-top: 25px;
}

.menu-link {
   color: #363636;
   font-size: 16px;
}

.menu-link:hover,
.menu-link:focus {
   text-decoration: underline;
}

.menu-left {
   padding-left: 25px;
}

.menu-right {
   padding-right: 40px;
}

.promo {
   background-image: url("../images/promo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.promo__inner {
   padding-top: 100px;
   min-height: 100vh;
   text-align: center;
   display: flex;
   flex-direction: column;
   text-shadow: -1px -1px 0 #9f6b08, 1px -1px 0 #9f6b08, -1px 1px 0 #9f6b08,
      1px 1px 0 #9f6b08;
}

.title {
   font-family: "Impact", sans-serif;
   font-weight: 400;
   font-size: 76px;
   letter-spacing: 0.08em;
   margin-bottom: 10px;
}

.subtitle {
   align-self: center;
   font-family: "Impact", sans-serif;
   font-weight: 400;
   font-size: 48px;
   border-bottom: 1px solid #040404;
   margin-bottom: 10px;
}

.subtitle span {
   display: block;
   font-size: 34px;
   color: #9f6b08;
   padding: 10px 0;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
}
.promo__text {
   font-size: 16px;
   color: #363636;
   margin-bottom: 10px;
}

.promo__arrow {
   margin-top: auto;
   margin-bottom: 30px;
   align-self: center;
}

.promo__arrow img {
   pointer-events: none;
}

.info {
   margin-bottom: 100px;
}

.info__part {
   padding-top: 100px;
   display: flex;
   justify-content: space-between;
}

.info__part--third {
   padding-top: 66px;
}

.info__part--first {
   display: block;
}

.info__title {
   text-transform: uppercase;
   margin-bottom: 30px;
   font-weight: 300;
   font-size: 32px;
}

.info__part-textbox {
   display: flex;
   justify-content: space-between;
   gap: 0 20px;
}

.info__text {
   flex-basis: 440px;
   margin-bottom: 30px;
}

.info__part-img {
   object-fit: cover;
}

.info__content {
   flex-basis: 410px;
}

.info__part--second .info-text {
   max-width: 352px;
}

.info__part--third .info-text {
   max-width: 377px;
}

.info__table {
   flex-basis: 450px;
   border-top: 1px solid #040404;
   border-bottom: 1px solid #040404;
   /* position: relative; */
}

/* .info__table::before {
   content: "";
   border-top: 1px solid red;
   width: 100%;
   position: absolute;
} */

.info__table td {
   padding-bottom: 20px;
}

.info__table tr:first-child td:first-child {
   padding-top: 20px;
}

.track {
   background-image: url("../images/track.png");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.track__title {
   padding-bottom: 30px;
   font-weight: 300;
   font-size: 32px;
   padding-top: 50px;
}

.track__text {
   max-width: 435px;
}

.track__inner {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.track__img {
   margin: auto auto 90px auto;
}

.evo {
   font-size: 14px;
   margin-bottom: 100px;
}

.evo-black {
   background-color: #363636;
   padding: 100px 0 50px;
   color: #fff;
}

.evo-black__inner {
   position: relative;
}

.evo-black__inner::before {
   content: "";
   background-image: url("../images/dec-1.svg");
   position: absolute;
   width: 185px;
   height: 213px;
   top: 155px;
   left: -100px;
}

.evo-black__inner::after {
   content: "";
   background-image: url("../images/dec-2.svg");
   position: absolute;
   width: 498px;
   height: 572px;
   top: 240px;
   left: 0;
}

.evo-black__info {
   display: flex;
   justify-content: space-between;
}

.evo-black__infobox {
   flex-basis: 437px;
}

.evo-black__title {
   text-transform: uppercase;
   font-weight: 300;
   font-size: 32px;
   flex-basis: 437px;
}

.evo-black__text {
   font-size: 14px;
   margin-bottom: 30px;
}

.evo-black__img {
   margin: 170px auto 60px;
   display: block;
   position: relative;
   z-index: 1;
}

.evo_descr-list {
   display: flex;
   gap: 0 65px;
   justify-content: center;
}

.evo_descr-list dd {
   text-transform: uppercase;
}

.evo-white__inner {
   padding-top: 125px;
   position: relative;
}
.evo-white__inner::before {
   content: "";
   background-image: url("../images/dec-3.svg");
   position: absolute;
   width: 274px;
   height: 257px;
   top: -20px;
   left: 370px;
}

.evo-white__inner::after {
   content: "";
   background-image: url("../images/dec-4.svg");
   position: absolute;
   width: 324px;
   height: 311px;
   top: 129px;
   left: 595px;
}

.evo-white__text {
   margin-bottom: 30px;
}

.evo-white__text:first-child {
   max-width: 285px;
}
.evo-white__text:nth-child(2) {
   max-width: 437px;
}
.evo-white__text:last-of-type {
   max-width: 590px;
}

.evo-white__video {
   margin-top: 100px;
   background-image: url("../images/evo-video.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 264px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.evo-white__video-link span {
   display: block;
   color: #fff;
}

.blog {
   margin-bottom: 100px;
}

.blog__title {
   text-transform: uppercase;
   font-weight: 300;
   font-size: 32px;
   margin-bottom: 30px;
}

.blog__item-img {
   margin-bottom: 20px;
}

.blog__item-title {
   font-weight: 400;
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 10px;
   min-height: 48px;
}

.blog__item-text {
   margin-bottom: 10px;
   /* min-height: 90px; */
}

.blog__item-link {
   font-size: 12px;
   color: #363636;
}
.blog__slider {
   position: relative;
   padding-top: 50px;
   margin-bottom: 100px;
}

.blog__button {
   position: absolute;
   top: 0;
   cursor: pointer;
   left: 50%;
}

.swiper-button-left {
   transform: translateX(-41px);
}
.swiper-button-right {
   transform: translateX(8px);
}

.blog__quote {
   display: flex;
   justify-content: space-between;
   margin-bottom: 120px;
   gap: 0 20px;
   align-items: center;
}

.blog__quote-box {
   flex-basis: 434px;
}

.blockquote {
   margin-bottom: 30px;
}

.blockquote__text {
   font-style: italic;
}
.blockquote__name {
   font-weight: 700;
   margin-bottom: 10px;
   font-style: normal;
   display: block;
}

.blockquote__name span {
   display: block;
   margin-bottom: 3px;
   color: #9f6b08;
   font-weight: 400;
   font-size: 12px;
}

.footer {
   padding: 100px 0 80px;
   background-color: #363636;
   color: #fff;
}

.footer__title {
   font-weight: 300;
   font-size: 32px;
   text-transform: uppercase;
   margin-bottom: 30px;
}

.footer__top {
   display: flex;
   justify-content: space-between;
   gap: 0 20px;
}

.footer__info {
}

.footer__info-item {
   margin-bottom: 40px;
}
.footer__info-item dt,
.footer__address-title {
   text-transform: uppercase;
   margin-bottom: 20px;
   font-size: 16px;
   font-weight: 700;
}

.footer__info-item dd {
   margin-bottom: 10px;
}

.footer__address {
   flex-basis: 462px;
}

.social-list {
   display: flex;
   gap: 0 20px;
   align-items: center;
}

.footer__address-text {
   font-size: 16px;
   margin-bottom: 20px;
}

.footer__bottom {
   margin-top: 35px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#map {
   height: 250px;
}

.menu-mobile {
   display: none;
   transition: all 0.3s;
}

.menu-btn {
   display: none;
}

.overflowHidden {
   overflow: hidden;
}

.overflowHidden::after {
   content: "";
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   backdrop-filter: blur(15px);
}

/* ADAPTIVE */

@media (max-width: 1100px) {
   .promo {
      background-position: left center;
   }

   .menu-mobile {
      display: flex;
      gap: 0 20px;
   }

   .menu-list {
      display: none;
   }

   .logo-img {
      width: 50px;
   }

   .title {
      font-size: 64px;
   }

   .subtitle {
      font-size: 42px;
   }

   .subtitle span {
      font-size: 32px;
   }

   .nav {
      align-items: center;
   }
}

@media (max-width: 969px) {
   .evo-white__inner::after {
      display: none;
   }
}

@media (max-width: 840px) {
   .menu-btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 10;
   }

   .menu-btn span {
      height: 3px;
      width: 100%;
      background-color: #000;
      border: 1px solid #9f6b08;
      pointer-events: none;
   }

   .menu-mobile {
      display: none;
   }

   .menu-mobile.menu--open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      z-index: 5;
      text-align: center;
      justify-content: center;
      color: #9f6b08;
   }

   .logo {
      z-index: 10;
   }
   .menu-link {
      color: #fff;
      font-size: 3vh;
      display: block;
      padding: 20px 0;
      text-shadow: 0 0 5px #000;
   }

   .info__part-textbox {
      display: block;
      padding-bottom: 15px;
   }
   .info__part {
      display: block;
   }

   .info__part--second .info-text,
   .info__part--third .info-text {
      max-width: 100%;
   }

   .info__table {
      width: 100%;
      text-align: center;
   }

   .info__table td:nth-child(2) {
      padding-left: 5px;
      padding-right: 5px;
   }

   .info__part-img {
      width: 100%;
   }

   .info__content {
      padding-bottom: 0px;
   }
}

@media (max-width: 768px) {
   .blog__quote {
      flex-direction: column;
   }

   .blog__quote-box {
      flex-basis: auto;
   }
   .blog__quote-img {
      order: -1;
   }

   .blog__item-img {
      width: 100%;
   }

   .evo-white__video {
      margin-top: 50px;
   }

   .evo-white__inner {
      padding-top: 75px;
   }

   .evo-black__img {
      margin-top: 130px;
   }

   .info__part {
      padding-top: 50px;
   }

   .blog,
   .blog__slider,
   .evo {
      margin-bottom: 50px;
   }

   .footer {
      padding: 50px 0;
   }
}

@media (max-width: 669px) {
   .evo-white__inner::before {
      display: none;
   }

   .evo_descr-list {
      display: block;
      text-align: center;
   }

   .evo_descr-list div {
      margin-bottom: 15px;
   }

   .track__text {
      max-width: 100%;
   }

   .evo-black__info {
      display: block;
   }

   .evo-black__title {
      padding-bottom: 20px;
   }

   .evo-black__inner::after {
      display: none;
   }

   .footer__top {
      display: block;
   }
}

@media (max-width: 560px) {
   .title {
      font-size: 48px;
   }

   .subtitle {
      font-size: 34px;
   }

   .subtitle span {
      font-size: 26px;
   }
}

@media (max-width: 480px) {
   .footer__bottom {
      display: block;
      text-align: center;
   }

   .footer__logo {
      padding: 20px 0;
      display: block;
   }
}
@media (max-height: 843px) {
   .header {
      padding-top: 10px;
   }

   .nav {
      justify-content: space-around;
   }

   .menu-list {
      gap: 0 20px;
   }

   .promo {
      background-position: left 0%;
   }

   .title {
      /* font-size: 48px; */
      margin-bottom: 0px;
      margin-right: -10px;
   }

   .subtitle {
      /* font-size: 30px; */
      margin-bottom: 0px;
   }

   .subtitle span {
      /* font-size: 25px; */
      padding: 7px 0;
   }

   .promo__inner {
      padding-top: 90px;
   }
}

@media (max-width: 340px) {
   .title {
      font-size: 42px;
   }

   .subtitle {
      font-size: 30px;
   }
}

/*
header
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
*/
